/* // Define color themes and import fonts */

$theme-spotify-green: hsl(13, 93%, 35%);
$theme-lighter-green: #7D3C98;
$theme-dark-purple: #7D3C98;
$theme-light-purple: #0a189b;
$theme-darkest-gray: #220aac;
$theme-medium-gray: #282828;
$theme-light-gray: #f4f4f4;
$theme-text-color: rgb(19, 1, 1);
$theme-title-color: rgb(14, 13, 13);

@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@700&family=Montserrat&display=swap');

/* // Base font settings */
$font-family-sans-serif: 'Montserrat', sans-serif;

/* // Global body styles */
#homepage #main-container {
  font-family: $font-family-sans-serif;
  margin: 0;
  padding: 0;
  background-color: $theme-lighter-green; 
  background-image: url('assets/awp1.jpg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
}
/* 
// Navbar styles */
.navbar {
  height: 100px;
  width: 100%;
  font-size: 3em;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: $theme-spotify-green;
  color: $theme-title-color;
  border-bottom: 1.5px solid white;
}

/* // Text and link styles */
a {
  text-decoration: none;
  color: $theme-light-purple;
}

a:hover {
  color: darken($theme-light-purple, 10%);
}

h1 {
  color: $theme-dark-purple;
  text-align: center;
  font-size: 2.5em;
}

/* // Footer styles */
footer {
  text-align: center;
  padding: 5px;
  background-color: $theme-medium-gray;
  color: $theme-lighter-green;
}

/* // Ensure responsiveness and theme consistency */
@media (prefers-color-scheme: dark) {
  body {
    background-color: $theme-darkest-gray;
    color: $theme-lighter-green;
  }
}
